body {
    background-color: white;
    text-align: center;
    color:black;
    font-family: "Roboto Sans", monospace;
}

table{
    margin: auto;
    border:1px solid black;
    background-color: rgb(250, 250, 250);
    height: 398px;
    width: 398px;
    table-layout: fixed;
}

.cell:hover{
    background-color: lightyellow;
}

.cell {
    height: 26px;
    width: 26px;
    font-size: 1.2em;
    border: 1.5px solid;
    border-top-color: #ffffff;
    border-right-color: #7B7B7B;
    border-bottom-color: #7B7B7B;
    border-left-color: #ffffff;
}

.smiley{
    padding-top: 20px;
    font-size: 2.5em;
}

button{
    display: block;
    background-color: white; 
    font-size: 18px;
    cursor: pointer;
    color: black; 
    transition-duration: 0.8s;
    border: 2px solid #4CAF50;
    border-radius: 15%;
}
  
button:hover {
    background-color: #4CAF50;
    color: rgb(180, 223, 193);
}

.level{
    text-align: center;
    margin: auto;
    width: 325px;
    height: 20px;
}

.level button{
    display:inline-block;
    text-align: center;
    cursor: pointer;
    background-color: white; 
    padding: auto;
    font-size: 17px;
    margin-top: 20px;
}

.hints{
    height: 40px;
    margin-top: 10px;
    padding: auto;
    font-size: 30px;
}

.count-safe-click{
    font-size: 12px;
    transition-duration: 0.8s;
}

.safe-click {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: white; 
    font-size: 17px;
    border: 2px solid gold;
    border-radius: 15%;
}

.safe-click:hover {
    background-color: white;
    color: rgb(194, 177, 83);
    border: 2px solid gold;
}

.undo {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: white; 
    font-size: 17px;
    border: 2px solid gold;
    border-radius: 15%;
    margin-left: 3px;
}

.undo:hover {
    background-color: white;
    color: rgb(194, 177, 83);
    border: 2px solid gold;
}

.mines-count1{
    color: blue;
}

.mines-count2{
    color: green;
}

.mines-count3{
    color: rgb(204, 35, 44);
}

.mines-count4{
    color: rgb(29, 179, 216);
}

.mines-count5{
    color: pink;
}

.mines-count6{
    color: yellow;
}

.mines-count7{
    color: brown;
}

.mines-count6{
    color: gray;
}

.flag{
    color: black;
}